* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background-color: #f4f4f4;
      color: #333;
      line-height: 1.6;
    }

    header {
      background: black;
      color: white;
      text-align: center;
      padding: 20px;
      position: sticky;
      top: 0;
    }


    a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-size: 34px;
    }

    .container {
      width: 80%;
      margin: 30px auto;
      background: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .container img {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 20px;
    }

    h2 {
      margin-bottom: 10px;
      color: #111;
    }

    footer {
      background: black;
      color: white;
      text-align: center;
      padding: 15px;
      margin-top: 30px;
    }

    @media (max-width: 768px) {
      .container {
        width: 95%;
      }
    }