* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    /* background-color: #f4f4f4; */
}

nav {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: sticky;
    top:0;
}

h1 {
    color: white;
}

.card-container {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
        align-items: stretch;
    justify-items: stretch;

}

.card-container img {
    width: 100%;
    background-color: white;
}

a {
    color: white;
    text-decoration: none;
}

.card-details {
    margin-top: 20px;
    padding: 0 5px;
}

.card-title {
    font-size: 14px;
    font-weight: 600;
}

.description {
    font-size: 10px;
    color: gray;
}


.card-button {
    margin-top: 10px;
}

.colors {
    display: flex;
}

.color {
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 3px;
}


#content-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-content: center;
    gap: 10px;
    cursor: pointer;
}

main {
    padding: 2rem;
}

.price{
    color:black;
}

